<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Fragebogen Tabelle -->
		<add key="Ungeduldig" value="/Fragebogen/Ungeduldig"/>
		<add key="Auftritt" value="/Fragebogen/Auftritt"/>
		<add key="Erregbar" value="/Fragebogen/Erregbar"/>
		<add key="Tatkraeftig" value="/Fragebogen/Tatkraeftig"/>
		<add key="Aufgeschlossen" value="/Fragebogen/Aufgeschlossen"/>
		<add key="Bevorzugung" value="/Fragebogen/Bevorzugung"/>
		<add key="SchuelerErnst" value="/Fragebogen/SchuelerErnst"/>
		<add key="Ermutigung" value="/Fragebogen/Ermutigung"/>
		<add key="Entscheidung" value="/Fragebogen/Entscheidung"/>
		<add key="Fehlergeständnis" value="/Fragebogen/Fehlergeständnis"/>
		<add key="Unterrichtsziel" value="/Fragebogen/Unterrichtsziel"/>
		<add key="RedetViel" value="/Fragebogen/RedetViel"/>
		<add key="Thema" value="/Fragebogen/Thema"/>
		<add key="FragenErnst" value="/Fragebogen/FragenErnst"/>
		<add key="Sprache" value="/Fragebogen/Sprache"/>
		<add key="Ruhe" value="/Fragebogen/Ruhe"/>
		<add key="Abwechslung" value="/Fragebogen/Abwechslung"/>
		<add key="Unterrichtsmaterialen" value="/Fragebogen/Unterrichtsmaterialen"/>
		<add key="Stoff" value="/Fragebogen/Stoff"/>
		<add key="SchulaufThemen" value="/Fragebogen/SchulaufThemen"/>
		<add key="Schwierigkeit" value="/Fragebogen/Schwierigkeit"/>
		<add key="Bewertung" value="/Fragebogen/Bewertung"/>
		
		<!-- SmileyBogen -->
		<add key="Positiv" value="/SmileyFormular/Positiv"/>
		<add key="Neutral" value="/SmileyFormular/Neutral"/>
		<add key="Negativ" value="/SmileyFormular/Negativ"/>
	</appSettings>
</configuration>